.navbar {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a.active {
  text-decoration: underline;
}

.content {
  margin: 2rem;
}




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color: #3f51b5;
  }
  
  /* Form Card */
  .form-card {
    margin-bottom: 20px;
    padding: 20px;
    width: fit-content;
  }
  
  .user-form mat-form-field {
    width: 100%;
  }
  
  /* Toolbar */
  .toolbar {
    margin-bottom: 20px;
  }
  
  /* Table Card */
  .table-card {
    padding: 20px;
  }
  
  table {
    width: 100%;
  }
  
  mat-header-cell {
    font-weight: bold;
  }
  
  mat-icon {
    font-size: 20px;
  }
  .mat-form-field{
    margin-right: 1rem;
  }
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 24px;
    }
  
    .form-actions {
      flex-direction: column;
      align-items: center;
    }
  
    .toolbar {
      flex-direction: column;
      gap: 10px;
    }
  }
  